/* ==UserStyle==
@name           google.com - 2.5.2023, 15:21:34
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("google.com") {
    /* Quelltext hier eingeben... */
}

/*"My Files" Tab (see left side menu)*/

/*changing "var" colors*/

:root {
    --white-color: #fff;
    --black: #000;
    --silver: #b3b3b3;
    --night: #121212;
    --eerie-black: #181818;
    --onyx: #404040;
    --raisin-black: #282828;
}

.vhoiae.KkxPLb {
    --dt-surface1: var(--raisin-black);
}

.o-Yc-o-T {
    color: var(--dt-outline-variant);
}

.yYWAMb {
    background-color: var(--dt-surface1);
}

/*font color when files are selected*/

.WpZLE {
    color: var(--dt-surface);
}

/*minus icon font color when selecting elements*/

.p9NqC.qoCZef:not(:disabled) {
    color: var(--dt-surface);
}

/*changing "var" colors*/

/*side menu colors*/
.a-U-J-x {
    color: var(--dt-surface);
}

/*side menu unselected icon color*/
.a-da-U .c-qd {
    color:var(--dt-background);
}

/*"Buy" button (see under side menu)*/
.Rj2Mlf:not(:disabled) {
      color: var(--dt-background);
}

.h-R-w-d.a-l-S-Pc-w-d {
    color: var(--dt-background);
}

.a-d-c svg {
    color: var(--dt-background);
}

.ZqJeHd.a-c-d.a-r-d {
    color: var(--dt-background);
}

.ub-ml-Pr .USrqEe-ml-Pr-gi .cr-hTVF2c-r {
    color: var(--dt-background);
}

.KZ6CTb.a-c-d svg {
    color: var(--dt-background);
}

#gb .wo35tf, #gb .a-s-fa-Ha-pa, #gbwa [viewBox][focusable="false"] {
    color:var(--dt-background);
}

.Yb-Il-d-c-j {
    background-color:var(--silver);
}

.aabwZd.fYenT .WYuW0e, .aabwZd.fYenT .WYuW0e .M3pype {
    background-color: var(--dt-surface);
}

.B-Nd-ZB7aWe-UvFRu {
    background-color: var(--dt-background);
}

.gb_Fa.gb_Uc .gb_rd.gb_ke:not(.gb_le) .gb_me, .gb_Fa.gb_Uc .gb_rd.gb_ne.gb_oe:not(.gb_le) .gb_me, .gb_Fa.gb_wd .gb_rd:not(.gb_ke):not(.gb_le) .gb_me {
    background-color: var(--raisin-black);
}

.gb_Fa:not(.gb_Ha) .gb_sd {
  background-color: var(--raisin-black) !important;
}

#gb [src="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png"] + [class] {
  color: var(--dt-surface);
}

.ZHllM {
    background-color: var(--raisin-black);
}

.a-da-Mf-B-lc {
    background-color: var(--raisin-black);
}

.a-l-Ba .a-s-Ba-ic .a-s-Ba-ic, .a-l-Ba .a-s-Ba-dj .a-s-Ba-dj {
    background-color: var(--raisin-black);
}

.lVcy9.s55KNe {
    background-color: var(--raisin-black);
}

.Y9nbBe .LMkq1b, .pdAMZe {
    background-color: var(--raisin-black);
}

.g3Fmkb {
    background-color: var(--raisin-black);
}

.Kk7lMc-Ku9FSb-Yb-Il {
    background-color: var(--raisin-black);
}

.a-l-Ba .a-s-Ba-dj {
    background-color: var(--raisin-black);
}

.mXlnof .a-s-Ba-Ak {
    background-color: var(--raisin-black);
}

.RIln1c {
    background-color: var(--raisin-black);
}

.YkfxEe {
    background-color: var(--raisin-black);
}

.ALpC8b {
    background-color: var(--raisin-black);
}

.S630me {
    background-color: var(--raisin-black);
}

.PolqHc {
    background-color: var(--raisin-black);
}

/*"Computer" Tab (see left side menu)*/

.gb_Fa.gb_Uc .gb_rd.gb_ke:not(.gb_le) .gb_me, .gb_Fa.gb_Uc .gb_rd.gb_ne.gb_oe:not(.gb_le) .gb_me, .gb_Fa.gb_wd .gb_rd:not(.gb_ke):not(.gb_le) .gb_me {
    background-color: var(--raisin-black);
}

#gb [src="//ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png"] + [class] {
    color:var(--dt-background);
}

.ZHllM {
    background-color: var(--raisin-black);
}

.a-da-Mf-B {
    background-color: var(--raisin-black) !important;
}

/*image in Computer/PC tab*/

.ab-S-c-j img {
    border-radius: 30px;
}

/*font under img in PC tab*/

.ab-S-V {
    color: var(--dt-surface);
}

.ab-S-Wg {
    color: var(--dt-outline-variant);
}

.QsFsvc {
    color: var(--dt-surface);
}

/*image in Marked tab*/

.ab-S-c-Ka-j img {
    border-radius: 30px;
}

.TvarF {
    color: var(--white-color);
}

.s55KNe .Tguc8d {
    color: var(--dt-surface);
}

/*"Books" main font color under my files*/
.Wa-ka-oa-qc-V {
    color: var(--white-color);
}

.Wa-ka-oa-qc-r {
    color: var(--silver);
}

/*"Books" under "My Files" icon*/

.Wa-sa-c-ab-o-wDYxhc {
    border-radius: 15px;
}

.Rj2Mlf:not(:disabled) {
    color:var(--silver);
}

/*"Settings" font*/

.gb_ad.gb_bd {
    color:var(--silver);
}

.vhoiae .wThJje, .X9XeLb .wThJje, .cWKK1c .wThJje, .aJfoSc .wThJje, .TOb6Ze .wThJje {
    color: var(--silver);
}

.a-U-ye-ha > .a-U-J {
    background-color: var(--silver);
}

#gb#gb a.gb_f {
    color:var(--white-color);
}
